:root {
    --html-color: #e44d26;
    --css-color: #1572b6;
  }
  
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

body{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.hero{
    height: 100vh;
    top: 4rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background: rgb(40,40,40);
background: linear-gradient(90deg, rgba(40,40,40,1) 17%, rgba(116,116,116,1) 50%, rgba(139,139,139,1) 100%);
   position: sticky;
    top: 0;
    height: 5.5rem;
}

.header-logo{
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-left: 2rem;
}

.logo{
    width: 3rem;
    height: 3rem;
}

.logo-name{
    color: white;
    width: 6rem;
    margin: 1rem;
    line-height: 2rem;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3rem;
}

.navlink{
    text-decoration: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    margin: 2rem;
    transition: background-color .15s linear, color .15s linear, border .15s linear;
}

.navlink:hover{
    border-bottom: medium solid rgb(41, 41, 41);
    border-right: thin solid rgb(41, 41, 41);
    color: black;
    
}

.contenedor{
    margin: 4rem;
    height: 50rem;
    scroll-margin-top: 8rem;
}

.btn-cv{
    text-decoration: none;
    background-color: grey;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    margin: 2rem;
    transition: background-color .15s linear, color .15s linear;
}

.btn-cv:hover{
    color: black;
    background-color: lightgray;
    border-bottom: medium solid rgb(41, 41, 41);
    border-right: thin solid rgb(41, 41, 41);
}