:root {
  --html-color: #e44d26;
  --css-color: #1572b6;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin-block-start: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(160, 160, 160, 0.712);
}

body {
  margin: 0;
}

img {
  width: 20rem;
  height: 20rem;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  color: #5e5e5e;
}
h3 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  color: #5e5e5e;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: rgb(40, 40, 40);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 40, 1) 17%,
    rgba(116, 116, 116, 1) 50%,
    rgba(139, 139, 139, 1) 100%
  );
  position: sticky;
  top: 0;
  height: 5.5rem;
  z-index: 10;
}

.header-logo {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-left: 2rem;
  text-decoration: none;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo-name {
  width: 6rem;
  margin: 1rem;
  line-height: 2rem;
  color: #b6f503;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 3rem;
}

.navlink {
  text-decoration: none;
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  margin: 2rem;
  transition: background-color 0.15s linear, color 0.15s linear,
    border 0.15s linear;
}

.navlink:hover,
.header-logo:hover {
  /* border-bottom: medium solid #b6f503;
  border-right: thin solid #b6f503; */
  color: #b6f503;
  /* font-weight: bold; */
  text-shadow: #b6f503 0.5px 0.5px 4px;
}

.contenedor {
  height: 100vh;
  scroll-margin-top: 5rem;
}

.btn-cv {
  text-decoration: none;
  background-color: rgb(71, 71, 71);
  padding: 1rem;
  border-radius: 0.5rem;
  border: medium solid #2b2b2b;
  color: #b6f503;
  margin: 2rem;
  transition: background-color 0.2s ease-in, color 0.15s linear,
    border 0.15s linear;
}

.btn-cv:hover {
  /* border-bottom: medium solid #b6f503;
  border-right: thin solid #b6f503; */
  /* background-color: #b4f503af;*/
  border-color: #b6f503;
  text-shadow: #b6f503 0.5px 0.5px 8px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: rgb(139, 139, 139);
  background: radial-gradient(
    circle,
    rgba(139, 139, 139, 0.7875525210084033) 50%,
    rgba(0, 0, 0, 0.28895308123249297) 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text {
}

.hero-text h2 {
  font-size: 16rem;
  line-height: 15rem;
  color: #7e7e7e;
  z-index: -10;
  width: 30%;
}

.card-clip {
  width: 20rem;
  height: 20rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  border: thin solid black;
}

.card {
  width: 40rem;
  height: 40rem;
  background: rgb(71, 71, 71);
  background: linear-gradient(
    0deg,
    rgba(71, 71, 71, 0.7875525210084033) 50%,
    rgba(0, 0, 0, 0.4150035014005602) 100%
  );
  display: flex;
  position: relative;
  border-radius: 15px;
}

.card-img {
  position: absolute;
  top: -105px;
  left: 10rem;
}

.card p {
  margin-top: 20rem;
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: rgb(201, 201, 201);
}

.cv {
  background-color: rgb(209, 209, 209);
}

.cv h2 {
  /* color: #b6f503; */
  color: #7e7e7e;
}

.cv li {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.proyectos {
  background-color: rgb(238, 238, 238);
}

.proyecto {
  background: rgb(71, 71, 71);
  background: linear-gradient(
    0deg,
    rgba(71, 71, 71, 0.7875525210084033) 28%,
    rgba(38, 38, 38, 1) 100%
  );
  width: 36rem;
  height: 40rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyecto a {
  color: #b6f503;
  text-decoration: none;
}

.proyecto h3,
.proyecto p {
  padding: 0;
  margin: 0;
}

.proyecto ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 0.5rem;
}

.proyecto li {
  margin: 1rem;
  color: rgb(238, 238, 238);
}

.proyecto p {
  margin: 1.5rem;
  color: rgb(238, 238, 238);
}

.proyecto img {
  width: 24rem;
  height: 15rem;
}
